In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('Aust_Credit_Approval_Data.csv')

In [3]:
df

        x1      x2  x3  x4  x5     x6  x7  x8  x9  x10  x11  x12   x13  target
0    22.08  11.460   2   4   4  1.585   0   0   0    1    2  100  1213       0
1    22.67   7.000   2   8   4  0.165   0   0   0    0    2  160     1       0
2    29.58   1.750   1   4   4  1.250   0   0   0    1    2  280     1       0
3    21.67  11.500   1   5   3  0.000   1   1  11    1    2    0     1       1
4    20.17   8.170   2   6   4  1.960   1   1  14    0    2   60   159       1
..     ...     ...  ..  ..  ..    ...  ..  ..  ..  ...  ...  ...   ...     ...
685  31.57  10.500   2  14   4  6.500   1   0   0    0    2    0     1       1
686  20.67   0.415   2   8   4  0.125   0   0   0    0    2    0    45       0
687  18.83   9.540   2   6   4  0.085   1   0   0    0    2  100     1       1
688  27.42  14.500   2  14   8  3.085   1   1   1    0    2  120    12       1
689  41.00   0.040   2  10   4  0.040   0   1   1    0    1  560     1       1

[690 rows x 14 columns]

In [4]:
x = df.drop('target',axis = 1)
y = df['target']

In [5]:
x

        x1      x2  x3  x4  x5     x6  x7  x8  x9  x10  x11  x12   x13
0    22.08  11.460   2   4   4  1.585   0   0   0    1    2  100  1213
1    22.67   7.000   2   8   4  0.165   0   0   0    0    2  160     1
2    29.58   1.750   1   4   4  1.250   0   0   0    1    2  280     1
3    21.67  11.500   1   5   3  0.000   1   1  11    1    2    0     1
4    20.17   8.170   2   6   4  1.960   1   1  14    0    2   60   159
..     ...     ...  ..  ..  ..    ...  ..  ..  ..  ...  ...  ...   ...
685  31.57  10.500   2  14   4  6.500   1   0   0    0    2    0     1
686  20.67   0.415   2   8   4  0.125   0   0   0    0    2    0    45
687  18.83   9.540   2   6   4  0.085   1   0   0    0    2  100     1
688  27.42  14.500   2  14   8  3.085   1   1   1    0    2  120    12
689  41.00   0.040   2  10   4  0.040   0   1   1    0    1  560     1

[690 rows x 13 columns]

In [6]:
y

0      0
1      0
2      0
3      1
4      1
      ..
685    1
686    0
687    1
688    1
689    1
Name: target, Length: 690, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3)

In [8]:
x_train

        x1      x2  x3  x4  x5     x6  x7  x8  x9  x10  x11  x12     x13
181  33.75   0.750   2   4   5   1.00   1   1   3    1    2  212       1
105  25.00   0.875   2  14   8   1.04   1   0   0    1    2  160    5861
668  32.25   1.500   2   8   4   0.25   0   0   0    1    2  372     123
132  24.58  13.500   1   1   1   0.00   0   0   0    0    2  184       1
454  22.50  11.000   1  11   4   3.00   1   0   0    1    2  268       1
..     ...     ...  ..  ..  ..    ...  ..  ..  ..  ...  ...  ...     ...
500  17.50  22.000   3   1   7   0.00   0   0   0    1    3  450  100001
497  28.67   1.040   2   8   4   2.50   1   1   5    1    2  300    1431
100  39.08   4.000   2   8   4   3.00   0   0   0    0    2  480       1
74   40.25  21.500   2  10   9  20.00   1   1  11    0    2    0    1201
492  51.83   2.040   1   1   1   1.50   0   0   0    0    2  120       2

[483 rows x 13 columns]

In [9]:
x_test

        x1      x2  x3  x4  x5     x6  x7  x8  x9  x10  x11  x12    x13
149  47.42   8.000   2  10   5  6.500   1   1   6    0    2  375  51101
428  24.83   4.500   2   9   4  1.000   0   0   0    1    2  360      7
569  30.58   2.710   1   7   4  0.125   0   0   0    1    1   80      1
324  36.67   4.415   1   4   4  0.250   1   1  10    1    2  320      1
361  18.83   9.500   2   9   4  1.625   1   1   6    1    2   40    601
..     ...     ...  ..  ..  ..    ...  ..  ..  ..  ...  ...  ...    ...
252  34.75  15.000   2  12   7  5.375   1   1   9    1    2    0    135
508  34.83   2.500   1   9   4  3.000   0   0   0    0    1  200      1
376  28.25   0.875   2   7   4  0.960   1   1   3    1    2  396      1
433  27.83   1.540   2   9   4  3.750   1   1   5    1    2  100      4
142  18.83   3.540   1   1   1  0.000   0   0   0    1    2  180      2

[207 rows x 13 columns]

In [10]:
from sklearn.svm import SVC
model = SVC(kernel = 'linear',C = 1  ,gamma = 'auto')
model.fit(x_train,y_train)

SVC(C=1, gamma='auto', kernel='linear')

In [11]:
model.score(x_test,y_test)

0.855072463768116

In [12]:
model.predict(x_test)

array([1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 1, 1, 0], dtype=int64)